<div>
    <p>
        I am a Graphic Designer and Electronic Technician. I seek to combine my experience in technological projects focused on the user experience. I am currently in Full Stack Developer training, the field where I would like to work.

        Throughout my life I have always worked on projects. It motivates me to start them and take them to their fullest expression. I feel comfortable in all its phases, from planning and opportunities, interdisciplinary work, management, to the final evaluation.

        I have led projects as diverse as Branding, Packaging, Advertising Campaigns, Ecological Awareness Campaigns, Data Structured Cabling, Data Centers, Fire Detection Systems, Video Surveillance Systems, Telephony, Elevator Installations.

        Recently moved to Catalonia, Spain I want to refocus my life towards programming, more specifically the web. For which I am in continuous training. My goal is to be able to combine my knowledge in communication with my technical background in projects that involve UX.
    </p>
</div>